@import "../../variables.scss";

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  max-width: $size-medium;

  .category-column {
    margin: 0 1rem;

    ul {
      padding-left: 1.5rem;
      margin: 0.5rem 0;
    }
  }
}
